@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root {
    --elements: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 52%);

    --bg: hsl(0, 0%, 98%);
    --text: hsl(200, 15%, 8%);

    --body: #fff;

    --homepage-size: 14px;
    --detail-page: 16px;

    --side-p: 3em;

    --mode-transition-duration: .5s

}

[data-theme='dark']{
    --elements: hsl(209, 23%, 22%);
    --bg: hsl(207, 26%, 17%);
    --text: hsl(0, 0%, 100%);

    --body: #000;
}

[data-theme='dark']  .circle {
    transform: translateX(100%);
    background-image: url('./assets/night-mode.png');
}

* {
    margin: 0;
    padding: 0;
}

button{
    outline: 0;
    border: 0;
}

a {
    text-decoration: none;
    transition: .5s;
}

h1, p {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}
button {
    font-family: inherit;
}

.loading-page {
    height: calc(100vh - 73px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    transition: background ease-in var(--mode-transition-duration);
}

.header--logo,
.back-btn,
.country-hero--right-content,
.border-item ,
.grid--item,
.search-wrp input,
.filter-by-region select{
    color: var(--text);
}

.search-wrp input::placeholder {
    opacity: .8;
    color: var(--text);
}

body{
    background-color: var(--bg);
    font-family: 'Nunito Sans', sans-serif;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

/* ---- HEADER ----*/
header {
    padding: 1.5em var(--side-p);
    background-color: var(--elements);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.header--logo {
    font-weight: 800;
    /* font-size: 14px; */
    font-size: 2em;
}


/* ---- MAIN ---- */

.grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 2em;
   padding: 2em var(--side-p) 4em var(--side-p);
}

.grid--item {
    width: 240px;
    height: 300px;
    background-color: var(--elements);

    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.grid--item-top-half {
    height: 50%;
}

.grid--item-btm-half {

    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1em;
}

.grid--item-btm-half > p:first-child {
    margin-bottom: .9em;
}

.grid--item-btm-half > p:not(:last-child):not(:first-child) {
    margin-bottom: .4em;
}

.country-name {
    font-size: 1em;
    font-weight: 800;
}

.country-about {
    font-weight: 600;
    font-size: .8em;
}

.font-light {
    font-weight: 300;
}

#grid--items:hover {
    transform: scale(1.1);
}

.country-hero {
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: flex-start;
    padding: 4em;
}

.wrapper {
    display: flex;
    /* background-color: magenta; */
    height: 50vh;
    gap: 5em;
    width: 100%;

    /* padding: 2em; */
    /* width: calc(90vw - 4em); */
}

.country-hero--left-content,
.country-hero--right-content {
    width: 50%;
    min-width: 300px;
}

.country-hero--left-content img {
    object-fit: cover;
}

.country-hero--left-content {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.country-hero--right-content {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5em;
    /* background-color: antiquewhite; */
   
}

.country-hero--right-content .country-name {
    font-size: 1.5em;
}

.content-wrp {
   width: max-content;
    display:grid; 
    grid-template-columns: repeat(2, auto);
   /* background-color:#000; */
   column-gap: 6em;
   row-gap: .6em;
    
}

.back-btn {
    padding: .5em 1.5em;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--elements);
    transition: .2s ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.back-btn:hover {
    background: rgba(0, 0, 0, 0.1);
}

.back-btn:active {
    transform: scale(0.9);
}

.back-icon {
    color: var(--text);
}

.borders {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 1em;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.border-item {
    background-color: var(--elements);
    padding: .4em 1.25em;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    font-size: .8em;
    border-radius: 5px;
    cursor: pointer;
}


/* THEME SWITCh TOGGLE */
.header--theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-btn {
    height:25px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    border-radius: 13px;
}


.circle {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    transition: .5s;
    background-image: url("./assets/icons8-sun-50.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    cursor: pointer;
}

/* FILTER   */

.filter {
    display: flex;
    justify-content: space-between;
    padding: 2em var(--side-p);
}

.search-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--elements); */
}

.caret-down-wrp {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-svg,
.caret-down{
    color: var(--text);
    font-size: 1.1em;
    opacity: .9;

}

.search-wrp,
.filter-by-region {
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.search-wrp {
    display: flex;
    align-items: center;
    width: 30vw;  
}

.search-wrp,
.filter-by-region {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);  
}

.search-wrp,
.search-wrp input,
.filter-by-region select{
    background-color: var(--elements); 
}

.search-wrp input {
    padding: 0 1.5em 0 0 ;
    height: 100%;
    flex: 1;
    /* padding: 1em 1.5em; */
    border: 0;
    outline: 0;
    font-size: .8em;
}

.filter-by-region {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    overflow: hidden;
    position: relative;
}

.filter-by-region select {
    flex: 1;
    height: 100%;
    padding: 0 1.5em;
    font-size: .8em;
}


.select > div{
    background: var(--elements);
    border: none;
    color: var(--text);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}
.select > div > * {
    color: var(--text);
}

.select {
    border-color: hsl(0, 0%, 90%);
    outline: 0;
}
#react-select-2-placeholder {
    color: var(--text);
    font-size: .9em;
}

/* ERROR FOR NOT FOUND */
.error {
    color: var(--text);
}



@media (max-width:1150px) {
    .wrapper {
        gap: 2em;
        justify-content: space-between;
        align-items: center;
    }
    
    .country-hero--left-content {
        height: fit-content;
        
    }
    .country-hero--left-content img {
        object-fit: contain;
    }
    .country-hero--right-content {
        gap: 1em;
    }
    .content-wrp {
        column-gap: 2em;
    }
}

@media (max-width:940px){
    .back-btn {
        font-size: .9em;
    }
    .country-hero--right-content .country-name {
        font-size: 1em;
    }
    .country-about {
        font-size: .6em;
    }
    .borders {
        font-size: .9em;
    }
    .border-item {
        font-size: .7em;
    }

    .wrapper {
        flex-direction: column;
    }
    .country-hero {
        padding: 3em;
        gap: 3em;
    }
}

@media (max-width:550px) {
    .header--logo {
        font-size: 1.5em;
    }
    
}

@media (max-width:450px) {
    :root {
        --side-p: 2em
    }

    .header--logo {
        font-size: 1.2em;
    }

    .toggle-btn {
        height: 20px;
        width: 40px;
    }

    .circle {
        width: 20px;
        background-size:  18px;
    }

}

